{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en" data-theme="corporate">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
</head>

<body class="bg-base-200 min-h-screen flex items-center justify-center">

    {% block content %}{% endblock %}

    {% django_browser_reload_script %}
</body>
</html>
